<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{url_for('static', filename='imgs/fav.png')}}">
    <title>Mail Header Analyzer (MHA)</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.css">
    <link href="{{url_for('static', filename='css/flag-sprites.min.css')}}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V" crossorigin="anonymous">
</head>

<body style="padding-top: 60px">
    <!-- Fixed navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Mail Header Analyzer</a>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    <!-- Begin page content -->
    <div class="container-fluid p-3">
        {% if data %}
        <div class="card p-3 bg-light">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-2 text-right">Subject</dt>
                        <dd class="col-sm-10 mb-0">{{ summary.Subject }}</dd>
                        <dt class="col-sm-2 text-right">Message-ID</dt>
                        <dd class="col-sm-10 mb-0 text-monospace">{{ summary.MessageID }}</dd>
                        <dt class="col-sm-2 text-right">Date
                        </dt>
                        <dd class="col-sm-10 mb-0">{{ summary.Date }}</dd>
                        <dt class="col-sm-2 text-right">From</dt>
                        <dd class="col-sm-10 mb-0">{{ summary.From }}</dd>
                        <dt class="col-sm-2 text-right">To</dt>
                        <dd class="col-sm-10 mb-0">{{ summary.To }}</dd>
                        {% if summary.Cc %}
                        <dt class="col-sm-2 text-right">Cc</dt>
                        <dd class="col-sm-10 mb-0">{{ summary.Cc }}</dd>
                        {% endif %}
                    </dl>
                </div>
                {% if delayed %}
                <div class="col-md-6">
                    {# <div id="chart_div"></div>#}
                    {{ chart|safe }}
                </div>
                {% endif %}
            </div>
        </div>
        <table id="table" class="table table-sm table-striped" data-toggle="table" data-search="true" data-show-columns="true"
            data-show-toggle="true" data-show-refresh="true" data-page-size="13" data-sort-name="hop"
            data-sort-order="asc">
            <thead class="thead-dark">
                <tr>
                    <th data-field="hop" data-sortable="true">Hop</th>
                    <th data-sortable="true">From</th>
                    <th data-sortable="true">By</th>
                    <th data-sortable="true">With</th>
                    <th data-sortable="true">Time (JST)</th>
                    <th data-sortable="true">Delay</th>
                </tr>
            </thead>
            <tbody>
                {% for k, v in data.items() %}
                <tr>
                    <td>{{ k }}</td>
                    <td>{{ v.Direction.0 }}{% if country(v.Direction.0).iso_code %}<span class="float-right"><a href="#"
                                data-toggle="tooltip" data-placement="top"
                                title="{{country(v.Direction.0).country_name}}"><i
                                    class="flag flag-{{country(v.Direction.0).iso_code}}"></i></a></span>{% endif %}
                    </td>
                    <td>{{ v.Direction.1 }}{% if country(v.Direction.1).iso_code %}<span class="float-right"><a href="#"
                                data-toggle="tooltip" data-placement="top"
                                title="{{country(v.Direction.1).country_name}}"><i
                                    class="flag flag-{{country(v.Direction.1).iso_code}}"></i></a></span>{% endif %}
                    </td>
                    <td>{{ v.Direction.2 }}</td>
                    <td>{{ v.Time2 }}</td>
                    <td>
                        {% if duration(v.Delay) %} {{ duration(v.Delay) }} {% else %} {% if loop.first %} *
                        {% else %}0{% endif %} {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card my-3">
          <h5 class="card-header">Security Headers</h5>
          <div class="table-responsive">
            <table class="table table-bordered">
              {% for k,v in sh.items() %}
              <tr>
                <th>{{ k }}</th>
                <td>{{ v | safe}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="card my-3">
          <h5 class="card-header">X-headers</h5>
            <div class="table-responsive">
              <table class="table table-bordered">
                {% for k,v in n.items() %}
                {% if k.startswith('X-') %}
                <tr>
                  <th>{{ k }}</th>
                  <td>{{ v }}</td>
                </tr>
                {% endif %} {% endfor %}
              </table>
            </div>
        </div>
        <div class="card my-3">
          <h5 class="card-header">Other headers</h5>
          <div class="table-responsive">
            <table class="table table-bordered">
              {% for k,v in n.items() %}
              {% if k not in ['Received','Subject','From','To','Message-ID','CC','Date'] and k not in security_headers and not k.startswith('X-') %}
              <tr>
                <th>{{ k }}</th>
                <td>{{ v }}</td>
              </tr>
              {% endif %} {% endfor %}
            </table>
          </div>
        </div>
        {% else %}
        <div class="row">
            <div class="col-md-12">
                <form method="POST">
                    <div class="form-group">
                        <textarea name='headers' class="form-control" rows="25" placeholder="Paste the header in here."
                            autofocus required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Analyze This !</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- Bootstrap core JavaScript ================================================== -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap-table@1.24.0/dist/bootstrap-table.min.js"></script>
    <script src="{{url_for('static', filename='js/pygal-tooltips.min.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>

</html>
